a:link {color:#f57900;}      /* unvisited link */
a:visited {color:#ce5c00;}  /* visited link */
a:hover {color:#fcaf3e;}  /* mouse over link */
a:active {color:#fcaf3e;}  /* selected link */

body
{
background-color:#BFBFBF;
font-family:Arial, Helvetica, sans-serif;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
color:#d2738a;
}
h1
{
color:#d2738a;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
}
h3
{
font-family:Arial, Helvetica, sans-serif;
color:#555753;
}
p
{
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
}
h2
{
font-family:Arial, Helvetica, sans-serif;
color:#555753;
text-align:center;

}

h4
{
font-family:Arial, Helvetica, sans-serif;
color:#555753;
text-align:center;

}

alan{
	font-size: 15%;
	color: GREEN;
}
